.skills__container{
    min-height: 100vh;
    background: #261f26;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section{
    padding-block: 5rem;
    --skew-angle: -5deg;
    --background: linear-gradient(180deg, #261f26, #2f2c35, #261f26);
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    gap: 10%;
}

.section::after{
    content: '';
    position: absolute;
    background: var(--background);
    z-index: -1;
    inset: 0;
}

.skills-wrapper{
    color: #fff;
    text-align: center;
    font-size: .8rem;
    font-family: Circularxx,sans-serif;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1s ease;
}

.skills-wrapper.show{
    opacity: 1;
    transform: translateY(0);
}

.skills-content{
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    margin: 6px;
    justify-content: center;
}

.tech{
    width: 64px;
    max-height: 64px;
    display: flex;
    align-items: center;
    margin: 5px;
    position: relative;
}

.tech img{
    width: 64px;
    max-height: 70px;
}

.skills-wrapper:nth-child(1){
    transition-delay: 200ms;
}

.skills-wrapper:nth-child(2){
    transition-delay: 400ms;
}
.skills-wrapper:nth-child(3){
    transition-delay: 600ms;
}

.tooltip{
    opacity: 0;
}

@media screen and (min-width: 1000px) {
    .section{
        flex-direction: row;
        --background: linear-gradient(45deg, #261f26, #2f2c35, #261f26);
    }
    .tooltip{
        visibility: hidden;
        width: 120px;
        background-color: #e7b678;
        font-family: Circularxx,sans-serif;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-top: 1rem;
        margin-left: -60px;
        transition: opacity 0.5s;
    }
    .tooltip::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #e7b678 transparent;
    }
    .tech:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
    .section::after{
        transform: skewY(var(--skew-angle));
    }
    .skills-wrapper{
        font-size: 1.2rem;
    }

    .tech{
        width: 80px;
        max-height: 80px;
    }
    
    .tech img{
        width: 80px;
        max-height: 90px;
    }
}